[submodule "Utils"]
	path = Utils
	url = https://github.com/ThreeRhinosInAnElephantCostume/Carcassonne-Utils.git
[submodule "Networking"]
	path = Networking
	url = https://github.com/ThreeRhinosInAnElephantCostume/Carcassonne-Networking.git
[submodule "Engine"]
	path = Engine
	url = https://github.com/ThreeRhinosInAnElephantCostume/Carcassonne-Engine.git
